.section-title{
  font-size: 2rem;
  text-align: center;
   
  &__icon{
   height: 2rem;
   margin-right: .5rem;
}

  

  @mixin atSmall {
  font-size: 3.75rem;
  font-weight: 300;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  strong{
    font-weight: 500;
  }

  &__icon{
    margin-right: .5rem;
}
  }
}